* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

h1, h2, h3, h4, h5, button {
  font-family: "Montserrat", "Calibri", "Arial", sans-serif;
  font-weight: 700; }

p, a, li {
  font-family: "Montserrat", "Calibri", "Arial", sans-serif;
  font-weight: 300; }

p, li {
  line-height: 1.4em; }

a {
  text-decoration: none;
  color: slategray;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all; }

a:hover {
  color: #a396f3;
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all; }

ul {
  list-style: none; }

ul, li {
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 24px; }

body {
  margin: 0;
  padding: 0;
  color: #333;
  overflow-x: hidden;
  text-align: center; }

.button {
  color: white;
  background-color: mediumslateblue;
  display: inline-block;
  border: 2px solid mediumslateblue;
  border-radius: 8px;
  padding: 8px;
  margin: 15px; }
  .button:hover {
    color: white;
    background-color: #a396f3;
    display: inline-block;
    border: 2px solid #a396f3;
    border-radius: 8px;
    padding: 8px;
    margin: 15px; }

.alternate-colors {
  color: #f0f0f0; }
  .alternate-colors > *:nth-of-type(2n) {
    color: #333; }

.alternate-colors-light {
  color: #f0f0f0; }
  .alternate-colors-light > *:nth-of-type(2n) {
    color: #8a8a8a; }

.top-nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  color: #f0f0f0;
  background-color: #333; }
  .top-nav #nav-toggle {
    cursor: pointer; }
  .top-nav ul, .top-nav .logo h5 {
    margin: 0; }
  .top-nav li, .top-nav #nav-toggle {
    height: 38px;
    line-height: 38px;
    display: block; }
  .top-nav .nav-container {
    display: none; }

/* Splashes */
/* all splash styles are defined here, vs. near their related content, for ease of access */
.splash {
  width: 100%;
  min-height: 480px;
  height: 100vh;
  width: 100%;
  color: #f0f0f0;
  display: table; }
  .splash .splash-inner {
    background-color: rgba(0, 0, 0, 0.4);
    display: table-cell;
    vertical-align: middle;
    overflow: hidden; }
    .splash .splash-inner h1 span {
      display: block; }

/* see-more */
.splash .see-more {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 25;
  text-align: center;
  color: #f0f0f0;
  padding: 20px; }
  .splash .see-more p {
    margin: 5px auto; }
    .splash .see-more p i {
      text-shadow: 1px 1px 18px rgba(255, 255, 255, 0.6), -1px 1px 18px rgba(255, 255, 255, 0.6), 1px -1px 18px rgba(255, 255, 255, 0.6), -1px -1px 18px rgba(255, 255, 255, 0.6);
      -webkit-animation: 1.66s linear 0s infinite alternate fadeInOut;
              animation: 1.66s linear 0s infinite alternate fadeInOut; }
@-webkit-keyframes fadeInOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }
@keyframes fadeInOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }
.tools-splash {
  background: url("https://images.unsplash.com/photo-1502119176771-c007eb5feb6e") no-repeat center 60%/cover; }

.works-splash {
  /* alternate bgs 
  background: url('https://images.unsplash.com/photo-1495467894491-aff044482626') no-repeat center 60%/cover;
  background: url('https://images.unsplash.com/photo-1495511623436-ba44aaee07cf') no-repeat center 60%/cover;*/
  background: url("https://images.unsplash.com/photo-1466786784937-3e682c802b14") no-repeat center 60%/cover; }
  .works-splash .splash-inner {
    background-color: rgba(0, 0, 0, 0.6); }

.about-splash {
  background: url("https://ajcjazz.com/portfolio_images/art_pic_large.jpg") no-repeat center 20%/cover; }
  .about-splash .splash-inner {
    background-color: rgba(0, 0, 0, 0.6); }

.contact-splash {
  background: url("https://images.unsplash.com/photo-1446102892025-3900145fd2a7") no-repeat center 60%/cover; }

/* Page sub-containers */
.sub-container {
  padding: 100px 0; }

/* Main page splash */
.page-header-splash {
  margin-top: 38px;
  min-height: 480px;
  height: 100vh;
  background: url("http://ajcjazz.com/images/splash_contact.jpg") no-repeat center/cover; }
  .page-header-splash h1, .page-header-splash h4 {
    margin: 0;
    padding: 5px; }
  .page-header-splash h4 {
    color: #f0f0f0; }
  .page-header-splash .header-item.main-item {
    width: 100%;
    height: 100%;
    display: table; }
    .page-header-splash .header-item.main-item .splash-inner {
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.6);
      color: #f0f0f0; }

/* Main Nav */
.main-nav h1 {
  margin-top: 0; }
.main-nav ul {
  max-width: 1400px;
  margin: 0 auto; }
.main-nav li {
  width: 90%;
  max-width: 360px;
  @font_color ($ctx);
  background-color: white;
  display: inline-block;
  border: 2px solid slategray;
  border-radius: 8px;
  padding: 8px;
  margin: 15px; }
.main-nav a:hover li {
  color: white;
  background-color: slategray;
  display: inline-block;
  border: 2px solid slategray;
  border-radius: 8px;
  padding: 8px;
  margin: 15px; }

/* Tools */
.langs-and-apps {
  background-color: #f0f0f0;
  color: #8a8a8a; }
  .langs-and-apps li {
    @font_color ($ctx);
    background-color: white;
    display: inline-block;
    border: 2px solid #8a8a8a;
    border-radius: 8px;
    padding: 8px;
    margin: 15px;
    display: inline-block;
    padding: 8px;
    width: 90%;
    max-width: 400px;
    text-align: left;
    margin-bottom: 15px; }
    .langs-and-apps li:hover {
      color: #333; }
    .langs-and-apps li i {
      padding-top: 3px;
      text-align: center;
      float: left;
      width: 50px; }
  .langs-and-apps .additional li {
    margin: 5px;
    font-size: 90%;
    width: unset; }

/* Works */
.works {
  padding: 0; }

.work {
  background-color: #f0f0f0;
  color: #8a8a8a;
  display: block;
  min-height: 766px;
  overflow: hidden; }
  .work:first-child {
    margin-top: 0; }
  .work:last-child {
    margin-bottom: 0; }
  .work .work-header h5 {
    font-style: italic;
    font-weight: normal; }
  .work .work-image {
    width: 100%;
    min-height: 320px;
    background-size: cover;
    border-bottom: thin solid #8a8a8a; }
    .work .work-image a {
      width: 100%;
      height: 100%;
      display: block; }
  .work .work-text ul {
    padding: 5px;
    font-size: 80%; }
    .work .work-text ul a {
      text-decoration: underline; }
    .work .work-text ul li {
      margin-bottom: 1.2em; }

/* About */
.about .sub-container {
  padding: 0; }

.about-content {
  width: 100%;
  max-width: 755px;
  margin: 0 auto;
  min-height: 480px;
  height: 100vh;
  display: table; }
  .about-content .about-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 90%;
    padding: 5px;
    text-align: left; }
    .about-content .about-text p:first-child::before, .about-content .about-text p:last-child::after {
      position: absolute;
      color: #f0f0f0;
      z-index: -1;
      font-size: 8em;
      font-family: "Times New Roman", serif; }
    .about-content .about-text p:first-child::before {
      content: "\201C";
      top: 0px;
      left: -15px; }
    .about-content .about-text p:last-child::after {
      content: "\201D";
      bottom: -15px;
      right: -15px; }

/* Contact */
.contact {
  padding-left: 20px;
  padding-right: 20px; }
  .contact .contact-text a {
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #8a8a8a; }
    .contact .contact-text a:hover {
      background-color: white;
      color: mediumslateblue; }
    .contact .contact-text a i {
      font-size: 2em; }

/* Footer */
footer {
  text-align: left;
  font-size: 65%;
  background-color: #333;
  color: #8a8a8a; }
  footer.sub-container {
    padding: 50px 0; }
  footer .footer-section {
    width: 100%;
    padding: 40px;
    display: inline-block; }
  footer ul li {
    margin-bottom: 8px; }
    footer ul li a {
      text-decoration: underline; }

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

@media (min-width: 666px) {
  footer .footer-section {
    float: left;
    width: 45%; } }
@media (min-width: 884px) {
  .langs-and-apps li {
    text-align: center; }
    .langs-and-apps li i {
      float: none; } }
@media (min-width: 980px) {
  footer .footer-section {
    width: 33%; } }
@media (min-width: 1024px) {
  .splash h1, .page-header-splash h1 {
    font-size: 300%; }

  .page-header-splash {
    margin-top: 0; }

  .top-nav {
    position: relative;
    display: block !important; }
    .top-nav #nav-toggle {
      display: none; }
    .top-nav .nav-container {
      display: block !important;
      background: #333; }
    .top-nav li {
      padding: 0 15px;
      float: right; }
    .top-nav li.logo {
      float: left; }

  .work {
    margin: 0;
    padding: 0;
    max-width: unset;
    width: 100%; }
    .work .work-image, .work .work-text {
      float: left; }
    .work:nth-child(2n+1) .work-image, .work:nth-child(2n+1) .work-text {
      float: right; }
    .work .work-image {
      border-bottom: none;
      background-position: center top; }
      .work .work-image.codepen {
        background-position: left bottom; }
    .work .work-image, .work .work-image a {
      width: 50%;
      height: 766px; }
    .work .work-text {
      width: 50%;
      padding: 0 0 0 28px; }
      .work .work-text ul li {
        text-align: left; } }
@media (min-width: 1600px) {
  .splash h1, .page-header-splash h1 {
    font-size: 400%; } }

/*# sourceMappingURL=style.css.map */