/********************/
/*                  */
/*      Mixins      */
/*                  */
/********************/
@function colors($ctx: 'main') {
  @if $ctx == 'main' { @return mediumslateblue; }
  @else if $ctx == 'main-light' { @return lighten(mediumslateblue, 10%); }
  @else if $ctx == 'main-action' { @return rgb(0, 69, 109); }
  @else if $ctx == 'main-action-light' { @return lighten(rgb(0, 96, 109), 10%); }
  @else if $ctx == 'link' { @return slategray; }
  @else if $ctx == 'light' { @return #f0f0f0; }
  @else if $ctx == 'medium-light' { @return #b8b8b8; }
  @else if $ctx == 'medium' { @return #8a8a8a; }
  @else if $ctx == 'dark' { @return #333; }
}

@mixin font_family() { font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif; }
@mixin display_fonts() { @include font-family(); font-weight: 700; }
@mixin body_fonts() { @include font-family(); font-weight: 300; }
@mixin button($type, $ctx) {
  @if $type == 'solid' {
    color: white;
    background-color: colors($ctx);
  }
  @else if $type == 'hollow' {
    @font_color($ctx);
    background-color: white;
  }
  display: inline-block;
  border: 2px solid colors($ctx);
  border-radius: 8px;
  padding: 8px;
  margin: 15px;
}
 
/********************/
/*                  */
/*     Globals      */
/*                  */
/********************/

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: colors('dark');
  text-align: center;
  min-width: 400px;
}

section {
  min-height: 33vh;
}

h1, h2, h3, h4, h5, button { @include display_fonts(); }

p, a, li, select, option { @include body_fonts(); }

p, li { line-height: 1.4em; }

a {
  text-decoration: none; color: colors('link');
  transition: 0.1s linear all;
}

a:hover {
  color: colors('main-light');
  transition: 0.1s linear all;
}

pre, code {
  display: inline;
  color: #0069c2;
}

ul { list-style: none; }

ul, li { padding: 0; }

img {
  max-width: 100%;
  height: auto;
}

/*********************/
/*                   */
/*  Global Classes   */
/*                   */
/*********************/

.button {
  @include button('solid', 'main');
  &:hover { @include button('solid','main-light');}
}
.button.bright {
  @include button('solid', 'main-action');  
  &:hover { @include button('solid', 'main-action-light'); }
}

.alternate-colors {
  color: colors('light');
  & > *:nth-of-type(2n) {
    color: colors('dark');
  }
}
.alternate-colors-light {
  color: colors('light');
  & > *:nth-of-type(2n) {
    color: colors('medium');
  }
}

/*********************/
/*                   */
/*    Top Nav Bar    */
/*                   */
/*********************/

.top-nav {
  cursor: pointer;
  z-index: 10000;
  width: 100%;
  position: fixed;
  top: 0;
  color: colors('light');
  background-color: colors('dark');
  #nav-toggle {
    cursor: pointer;
  }
  ul, .logo h5 {
    margin: 0;
  }
  li, #nav-toggle {
    height: 38px;
    line-height: 38px;
    display: block;
  }
  .nav-container {
    display: none;
  }
}

/*********************/
/*                   */
/*   Splash Styles   */
/*                   */
/*********************/
.splash {
  width: 100%;
  height: 33vh;
  width: 100%;
  color: colors('light');
  display: table;
  .splash-inner {
  	min-height: inherit;
    background-color: rgba(0,0,0,0.4);
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    h1 span {
      display: block;
    }
  }
}
.experience-splash {
  background: url('https://images.unsplash.com/photo-1502119176771-c007eb5feb6e') no-repeat center 60%/cover;
}
.projects-splash {
  background: url('https://images.unsplash.com/photo-1466786784937-3e682c802b14') no-repeat center 60%/cover;
  .splash-inner {
    background-color: rgba(0,0,0,0.6);
  }
}
.about-splash {
  background: url('../images/nathan-dumlao-c2Y16tC3yO8-unsplash.jpg') no-repeat center 50%/cover;
  .splash-inner {
    background-color: rgba(0,0,0,0.6);
  }
}
.contact-splash {
  background: url('https://images.unsplash.com/photo-1446102892025-3900145fd2a7') no-repeat center 60%/cover;
}

/*********************/
/*                   */
/*  Sub-containers   */
/*                   */
/*********************/

.sub-container {
  padding: 8px;
  margin: 0 auto;
}

/*********************/
/*                   */
/*    Main splash    */
/*                   */
/*********************/

.page-header-splash {
  margin-top: 38px;
  min-height: 360px;
  background: url('../images/lissajous-background.png') no-repeat bottom/cover;
  h1, h4 {
    margin: 0;
    padding: 5px;
  }
  h4 {
    color: colors('light');
  }
  .header-item.main-item {
    width: 100%;
    min-height: inherit;
    display: table;
    .splash-inner {
    	min-height: inherit;
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0,0,0,0.6);
      color: colors('light');

      h1 {
        letter-spacing: 2px;
      }
    }
  }
}

/********************/
/*      Center      */
/*    Navigation    */
/*                  */
/********************/

.main-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-size: 2.25em;
  }
  ul {
    width: 100%;
    max-width: 1400px;
  }
  li {
    width: 90%;
    max-width: 360px;
    @include button('hollow', 'link');
  }
  a:hover li {
    @include button('solid', 'link');
  }
}

/********************/
/*                  */
/*    Experience    */
/*                  */
/********************/
.experience {
  background-color: colors('light');
  color: colors('medium');
  margin: 0 auto;

  .list-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px 0;
  }
  
  .list-heading {
    margin-top: 0;
  }

  .achieving {
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    display: none;
    padding: 0.5rem 0px;

    div {
      display: none;

      .active {
        display: block;
      }

      p {

        padding: 1rem;
        width: 100%;
        a {

          text-decoration: underline;
          color: blue;
          cursor: pointer;
        }
      }
    }
  }

  #ach_selfstudy {
    ul {
      background: unset;
    }
    li {
      padding: 10px;
      display: block;
      &:hover {
        background-color: white;
        color: initial;
        cursor: default;
      }
      a,
      span {
        width: 100%;
        text-align: center;
        display: block;
      }
      a {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        margin-bottom: 0.5rem;
      }
    }
  }

  .utilizing {
    display: none;
    max-width: 1000px;
    margin: 0 auto;

    li {
      margin: 3px;
      padding: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      width: unset;
      border: thin solid;

      &.app,
      &.lang {
        background-color: colors('main');
        color: lighten(colors('medium'), 60%);
        color: white;
      }
    }
  }

  ul {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    @include button('hollow', 'medium');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 42%;
    max-width: 400px;
    text-align: center;
    &:hover, 
    &.active {
      color: white;
      background-color: colors('main-light');
      cursor: pointer;
    }
  }

  .list-container ul li {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 2000;
    }
    &::after {
      content: ' ';
      position: absolute;
      right: 0px;
      width: 2.2rem;
      background-color: colors('medium');
      height: 100%;
    }
    span {
      width: 100%;
      margin-right: 1rem;
    }
    i {
      color: white;
      background-color: colors('medium');
      z-index: 100;
    }
  }
}


/********************/
/*                  */
/*     Projects     */
/*                  */
/********************/
.projects {
  padding: 0;

  button {
    margin: 0.5rem;
  }
}

.project {
  background-color: colors('light');
  color: colors('medium');
  display: block;
  min-height: 766px;
  overflow: hidden;
}

.projects-list {
  select {
    margin-bottom: 0.5rem;
    max-width: 400px;
    width: 80%;
  }
}

#projectPreview {
  display: block;
  width: 100%;
  min-height: 75vh;
  border: thin solid gray;
  margin: 30px auto;
}

.project-description {
  padding: 0px 2rem;
  a {
    text-decoration: underline;
  }
}

/********************/
/*                  */
/*      About       */
/*                  */
/********************/
.about-content {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  min-height: 480px;
  display: block;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  .about-text {
    font-size: 90%;
    text-align: left;
    p:first-child::before, p:last-child::after {
      position: absolute;
      color: colors('light');
      z-index: -1;
      font-size: 8em;
      font-family: "Times New Roman", serif;
    }
    p:first-child::before {
      content: "\201C";
      top: 20px;
      left: 0;
    }
    p:last-child::after {
      content: "\201D";
      bottom: -15px;
      right: 0;
    }
  }
  .about-pic img {
    max-height: 50vh;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
}

/********************/
/*                  */
/*     Contact      */
/*                  */
/********************/
.contact {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contact-text {
    height: 100%;
    p {
      margin: 1rem;
    }
    a {
      margin: 20px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      color: colors('medium');
      &:hover {
        background-color: white;
        color: colors('main');
      }
      i {
        font-size: 2em;
      }
    }
  }
}

/********************/
/*                  */
/*      Footer      */
/*                  */
/********************/
footer {
  text-align: left;
  font-size: 65%;
  background-color: colors('dark');
  color: colors('medium');
  .footer-section {
    width: 100%;
    padding: 40px;
    display: inline-block;
  }
  ul li {
    a { text-decoration: underline; }
    margin-bottom: 8px;
  }
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/********************/
/*      Media       */
/*     Queries      */
/*                  */
/********************/

@media (min-width: 666px) {
  footer .footer-section {
    float: left;
    width: 45%;
  }
}

@media (min-width: 980px) {
  .splash, .page-header-splash, .about-content {
  	min-height: 600px;
  }
  footer {
    .footer-section {
      width: 33%;
    }
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .sub-container {
    padding: 2rem 0;
  }
  .splash h1, .page-header-splash h1 {
    font-size: 300%;
  }
  .page-header-splash {
    margin-top: 0;
  }
  .top-nav {
    position: relative;
    display: block !important;
    #nav-toggle {
      display: none;
    }
    .nav-container {
      display: block !important;
      background: colors('dark');
    }
    li {
      padding: 0 15px;
      float: right;
    }
    li.logo {
      float: left;
    }
  }
  .to-top {
    display: block !important;
  }
  .work {
    margin: 0;
    padding: 0;
    max-width: unset;
    width: 100%;
    min-height: inherit;
    .work-image, .work-text {
      float: left;
    }
    &:nth-child(2n+1) {
      .work-image, .work-text {
        float: right;
      }
    }
    .work-image {
      border-bottom: none;
      background-position: center top;
      &.codepen {
        background-position: left bottom;
      }
    }
    .work-image, .work-image a {
      width: 50%;
      height: 766px;
    }
    .work-text {
      width: 50%;
      min-height: 766px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .about-content {
    width: 100%;
    max-width: 80vw;
    margin: 10px auto;
    display: flex;
    .about-text {
      padding-right: 2rem;
    }
    .about-pic img {
      max-width: 33vw;
      vertical-align: middle;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 24px;
  }
  .splash, .page-header-splash, .about-content {
  	min-height: 800px;
  }
  .splash h1, .page-header-splash h1 {
    font-size: 400%;
  }
  .about-content {
    max-width: 66vw;
  }
}

@media (min-width: 2400px) {
  .about-content {
    max-width: 50vw;
  }
}