/********************/
/*                  */
/*      Mixins      */
/*                  */
/********************/
@function colors($ctx: 'main') {
  @if $ctx == 'main' { @return mediumslateblue; }
  @else if $ctx == 'main-light' { @return lighten(mediumslateblue, 10%); }
  @else if $ctx == 'main-action' { @return green; }
  @else if $ctx == 'main-action-light' { @return lighten(green, 10%); }
  @else if $ctx == 'link' { @return slategray; }
  @else if $ctx == 'light' { @return #f0f0f0; }
  @else if $ctx == 'medium-light' { @return #b8b8b8; }
  @else if $ctx == 'medium' { @return #8a8a8a; }
  @else if $ctx == 'dark' { @return #333; }
}

@mixin font_family() { font-family: "Montserrat", "Calibri", "Arial", sans-serif; }
@mixin display_fonts() { @include font-family(); font-weight: 700; }
@mixin body_fonts() { @include font-family(); font-weight: 300; }
@mixin button($type, $ctx) {
  @if $type == 'solid' {
    color: white;
    background-color: colors($ctx);
  }
  @else if $type == 'hollow' {
    @font_color($ctx);
    background-color: white;
  }
  display: inline-block;
  border: 2px solid colors($ctx);
  border-radius: 8px;
  padding: 8px;
  margin: 15px;
}
 
/********************/
/*                  */
/*     Globals      */
/*                  */
/********************/

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: colors('dark');
  overflow-x: hidden;
  text-align: center;
}

h1, h2, h3, h4, h5, button { @include display_fonts(); }

p, a, li { @include body_fonts(); }

p, li { line-height: 1.4em; }

a {
  text-decoration: none; color: colors('link');
  transition: 0.1s linear all;
}

a:hover {
  color: colors('main-light');
  transition: 0.1s linear all;
}

ul { list-style: none; }

ul, li { padding: 0; }

img {
  max-width: 100%;
  height: auto;
}

/*********************/
/*                   */
/*  Global Classes   */
/*                   */
/*********************/

.button {
  @include button('solid', 'main');
  &:hover { @include button('solid','main-light');}
}
.button.bright {
  @include button('solid', 'main-action');  
  &:hover { @include button('solid', 'main-action-light'); }
}

.alternate-colors {
  color: colors('light');
  & > *:nth-of-type(2n) {
    color: colors('dark');
  }
}
.alternate-colors-light {
  color: colors('light');
  & > *:nth-of-type(2n) {
    color: colors('medium');
  }
}

/*********************/
/*                   */
/*    Top Nav Bar    */
/*                   */
/*********************/

.top-nav {
  cursor: pointer;
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  color: colors('light');
  background-color: colors('dark');
  #nav-toggle {
    cursor: pointer;
  }
  ul, .logo h5 {
    margin: 0;
  }
  li, #nav-toggle {
    height: 38px;
    line-height: 38px;
    display: block;
  }
  .nav-container {
    display: none;
  }
}

/*********************/
/*                   */
/*   Splash Styles   */
/*                   */
/*********************/
.splash {
  width: 100%;
  min-height: 480px;
  width: 100%;
  color: colors('light');
  display: table;
  .splash-inner {
  	min-height: inherit;
    background-color: rgba(0,0,0,0.4);
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    h1 span {
      display: block;
    }
  }
}

/*********************/
/*  Splash seemores  */
/*    and to tops    */
/*                   */
/*********************/
.splash .see-more, .splash .to-top {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 25;
  text-align: center;
  color: colors('light');
  padding: 20px;
  p {
    margin: 5px auto;
    i {
      @keyframes fadeInOut { from {opacity: 1} to {opacity: 0.2} }
      text-shadow: 1px 1px 18px rgba(255,255,255,0.6),
                   -1px 1px 18px rgba(255,255,255,0.6),
                   1px -1px 18px rgba(255,255,255,0.6),
                   -1px -1px 18px rgba(255,255,255,0.6);
      animation: 1.66s linear 0s infinite alternate fadeInOut;
    }
  }
  a {
    color: colors('light');
  }
}
.splash .to-top {
  top: 0;
  display: none;
}
.tools-splash {
  background: url('https://images.unsplash.com/photo-1502119176771-c007eb5feb6e') no-repeat center 60%/cover;
}
.works-splash {
  background: url('https://images.unsplash.com/photo-1466786784937-3e682c802b14') no-repeat center 60%/cover;
  .splash-inner {
    background-color: rgba(0,0,0,0.6);
  }
}
.about-splash {
  background: url('https://ajcjazz.com/portfolio_images/art_pic_large.jpg') no-repeat center 20%/cover;
  .splash-inner {
    background-color: rgba(0,0,0,0.6);
  }
}
.contact-splash {
  background: url('https://images.unsplash.com/photo-1446102892025-3900145fd2a7') no-repeat center 60%/cover;
}

/*********************/
/*                   */
/*  Sub-containers   */
/*                   */
/*********************/

.sub-container {
  padding: 100px 0;
}

/*********************/
/*                   */
/*    Main splash    */
/*                   */
/*********************/

.page-header-splash {
  margin-top: 38px;
  min-height: 480px;
  background: url('https://ajcjazz.com/images/splash_contact.jpg') no-repeat center/cover;
  h1, h4 {
    margin: 0;
    padding: 5px;
  }
  h4 {
    color: colors('light');
  }
  .header-item.main-item {
    width: 100%;
    min-height: inherit;
    display: table;
    .splash-inner {
    	min-height: inherit;
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0,0,0,0.6);
      color: colors('light');
    }
  }
}

/********************/
/*      Center      */
/*    Navigation    */
/*                  */
/********************/

.main-nav {
  h1 {
    margin-top: 0;
    font-size: 2.25em;
  }
  ul {
    max-width: 1400px;
    margin: 0 auto;
  }
  li {
    width: 90%;
    max-width: 360px;
    @include button('hollow', 'link');
  }
  a:hover li {
    @include button('solid', 'link');
  }
}

/********************/
/*                  */
/*      Tools       */
/*                  */
/********************/
.langs-and-apps {
  background-color: colors('light');
  color: colors('medium');
  ul {
    max-width: 1400px;
    margin: 0 auto;
  }
  li {
    @include button('hollow', 'medium');
    display: inline-block;
    padding: 8px;
    width: 90%;
    max-width: 400px;
    text-align: left;
    margin-bottom: 15px;
    &:hover {
      color: colors('dark');
    }
    i {
      padding-top: 3px;
      text-align: center;
      float: left;
      width: 50px;
    }
  }
  .additional li {
    margin: 5px;
    font-size: 90%;
    width: unset;
  }
}


/********************/
/*                  */
/*      Works       */
/*                  */
/********************/
.works {
  padding: 0;
}
.work {
  background-color: colors('light');
  color: colors('medium');
  display: block;
  min-height: 766px;
  overflow: hidden;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .work-header .secondary {
    font-style: italic;
    font-weight: normal;
    margin: 0;
    font-size: 80%;
  }
  .work-image {
    width: 100%;
    min-height: 480px;
    background-size: cover;
    border-bottom: thin solid colors('medium');
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .work-text ul {
    a {
      text-decoration: underline;
    }
    padding: 5px;
    font-size: 80%;
    li {
      margin-bottom: 1.2em;
    }
  }
  .work-content .summary {
    padding: 0 1em;
    font-size: 75%;

    &.summary-details {
      width: 80%;
      margin: 0 auto;
      padding: 1rem;
      border: thin solid #ccc;
      font-family: 'Calibri', sans-serif;
      font-size: 75%;
      letter-spacing: 0.4px;
    }
  }
}

/********************/
/*                  */
/*      About       */
/*                  */
/********************/
.about.sub-container {
  padding: 0;
}
.about-content {
  width: 100%;
  max-width: 755px;
  margin: 0 auto;
  min-height: 480px;
  display: table;
  .about-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 90%;
    padding: 5px;
    text-align: left;
    p:first-child::before, p:last-child::after {
      position: absolute;
      color: colors('light');
      z-index: -1;
      font-size: 8em;
      font-family: "Times New Roman", serif;
    }
    p:first-child::before {
      content: "\201C";
      top: 20px;
      left: 0;
    }
    p:last-child::after {
      content: "\201D";
      bottom: -15px;
      right: 0;
    }
  }
}

/********************/
/*                  */
/*     Contact      */
/*                  */
/********************/
.contact {
  padding-left: 20px;
  padding-right: 20px;
  .contact-text {
    a {
      width: 68px;
      height: 68px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      color: colors('medium');
      &:hover {
        background-color: white;
        color: colors('main');
      }
      i {
        font-size: 2em;
      }
    }
  }
}

/********************/
/*                  */
/*      Footer      */
/*                  */
/********************/
footer {
  &.sub-container {
    padding: 50px 0;
  }
  text-align: left;
  font-size: 65%;
  background-color: colors('dark');
  color: colors('medium');
  .footer-section {
    width: 100%;
    padding: 40px;
    display: inline-block;
  }
  ul li {
    a { text-decoration: underline; }
    margin-bottom: 8px;
  }
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/********************/
/*      Media       */
/*     Queries      */
/*                  */
/********************/

@media (min-width: 666px) {
  footer .footer-section {
    float: left;
    width: 45%;
  }
}

@media (min-width: 884px) {
  .langs-and-apps li {
    text-align: center;
    i {
      float: none;
    }
  }
}

@media (min-width: 980px) {
  .splash, .page-header-splash, .about-content {
  	min-height: 600px;
  }
  footer {
    .footer-section {
      width: 33%;
    }
  }
}

@media (min-width: 1024px) {
  .splash h1, .page-header-splash h1 {
    font-size: 300%;
  }
  .page-header-splash {
    margin-top: 0;
  }
  .top-nav {
    position: relative;
    display: block !important;
    #nav-toggle {
      display: none;
    }
    .nav-container {
      display: block !important;
      background: colors('dark');
    }
    li {
      padding: 0 15px;
      float: right;
    }
    li.logo {
      float: left;
    }
  }
  .to-top {
    display: block !important;
  }
  .work {
    margin: 0;
    padding: 0;
    max-width: unset;
    width: 100%;
    min-height: inherit;
    .work-image, .work-text {
      float: left;
    }
    &:nth-child(2n+1) {
      .work-image, .work-text {
        float: right;
      }
    }
    .work-image {
      border-bottom: none;
      background-position: center top;
      &.codepen {
        background-position: left bottom;
      }
    }
    .work-image, .work-image a {
      width: 50%;
      height: 766px;
    }
    .work-text {
      width: 50%;
      min-height: 766px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}


@media (min-width: 1600px) {
  .splash, .page-header-splash, .about-content {
  	min-height: 800px;
  }
  .splash h1, .page-header-splash h1 {
    font-size: 400%;
  }
}