[submodule "submods/dynamic-lighted-buttons"]
	path = submods/dynamic-lighted-buttons
	url = https://github.com/carvacodes/dynamic-lighted-buttons.git
[submodule "submods/lissajous"]
	path = submods/lissajous
	url = https://github.com/carvacodes/lissajous.git
[submodule "submods/moving-boxes"]
	path = submods/moving-boxes
	url = https://github.com/carvacodes/moving-boxes.git
[submodule "submods/crt-magnet-interference"]
	path = submods/crt-magnet-interference
	url = https://github.com/carvacodes/crt-magnet-interference.git
[submodule "submods/symyn"]
	path = submods/symyn
	url = https://github.com/carvacodes/symyn.git
[submodule "submods/canvas-composite-operations"]
	path = submods/canvas-composite-operations
	url = https://github.com/carvacodes/canvas-composite-operations.git
[submodule "submods/magnetic-lines-of-force"]
	path = submods/magnetic-lines-of-force
	url = https://github.com/carvacodes/magnetic-lines-of-force.git
[submodule "submods/wireframe-grayscale-triangles"]
	path = submods/wireframe-grayscale-triangles
	url = https://github.com/carvacodes/wireframe-grayscale-triangles.git
[submodule "submods/amoeboid"]
	path = submods/amoeboid
	url = https://github.com/carvacodes/amoeboid.git
[submodule "submods/post-dusk"]
	path = submods/post-dusk
	url = https://github.com/carvacodes/post-dusk.git
[submodule "submods/tower-of-the-gods"]
	path = submods/tower-of-the-gods
	url = https://github.com/carvacodes/tower-of-the-gods.git
