[submodule "submods/dynamic-lighted-buttons"]
	path = submods/dynamic-lighted-buttons
	url = https://github.com/carvacodes/dynamic-lighted-buttons.git
[submodule "submods/lissajous"]
	path = submods/lissajous
	url = https://github.com/carvacodes/lissajous.git
[submodule "submods/moving-boxes"]
	path = submods/moving-boxes
	url = https://github.com/carvacodes/moving-boxes.git
[submodule "submods/crt-magnet-interference"]
	path = submods/crt-magnet-interference
	url = https://github.com/carvacodes/crt-magnet-interference.git
[submodule "submods/symyn"]
	path = submods/symyn
	url = https://github.com/carvacodes/symyn.git
[submodule "submods/canvas-composite-operations"]
	path = submods/canvas-composite-operations
	url = https://github.com/carvacodes/canvas-composite-operations.git
