# Prevent folder listing:
IndexIgnore *  

# Prevent access to any non-ajax file:
<FilesMatch "^.*[^ajx]{4}\.inc\.php$">
Order Allow,Deny  
Deny from all 
</FilesMatch>

# Disable directory browsing:
Options All -Indexes

# Turn on the rewriting engine
RewriteEngine On

RewriteRule ^home$ index.php [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]