* {
  position: relative;
  box-sizing: border-box;
  font-family: "Alegreya Sans", "Calibri";
  letter-spacing: 0.5px; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

header {
  background-image: url("../img/header_watermark.png"), url("../img/header_bg_left.png");
  background-size: 35rem, cover;
  background-position: 102% 10%, left center;
  background-repeat: no-repeat, no-repeat;
  background-color: #58006c;
  display: flex;
  flex-flow: row;
  /* set nav to right-aligned */
  /*justify-content: flex-end;*/
  align-items: center;
  padding: 1rem 2rem;
  margin: 0; }
  header div {
    display: inline-block;
    color: #f2b9ff; }
  header .main-text-splash {
    font-weight: 400; }
    header .main-text-splash span {
      text-align: right;
      line-height: 0.66em;
      display: block; }
    header .main-text-splash span:first-child {
      font-size: 4rem; }
    header .main-text-splash span:last-child {
      font-weight: bold;
      font-size: 5rem; }
  header .text-splash-spacer {
    margin: 0 20px;
    width: 0px;
    height: 7rem;
    border: 3px solid #f2b9ff;
    border-radius: 3px; }
  header .secondary-text-splash {
    font-size: 2.5rem;
    line-height: 0.9em; }

.main-nav {
  background-image: url("../img/header_watermark.png"), url("../img/header_bg_left.png");
  background-size: 35rem, cover;
  background-position: 102% 10%, left center;
  background-repeat: no-repeat, no-repeat;
  background-color: #58006c;
  background-image: url("../img/header_watermark.png");
  background-position: 102% -10rem;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  margin: 0;
  border-top: thin solid #f2b9ff;
  background-color: rgba(88, 0, 108, 0.6); }
  .main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .main-nav ul li {
      letter-spacing: 2px;
      display: inline-block;
      color: #f2b9ff;
      padding: 10px;
      transition: 0.066s linear all;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px; }
      .main-nav ul li:hover {
        transition: 0.066s linear all;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        cursor: pointer; }

.page-body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; }

.body-splash {
  background-image: url("../img/body_splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .body-splash .upcoming-events {
    text-align: right;
    margin-right: 2rem;
    padding: 5px 25px;
    background-color: rgba(88, 0, 108, 0.6);
    color: #d9ffa6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none; }
    .body-splash .upcoming-events .calendar-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.66rem 0;
      border-bottom: thin solid #d9ffa6; }
      .body-splash .upcoming-events .calendar-row:nth-of-type(1) {
        border-top: thin solid #d9ffa6; }
      .body-splash .upcoming-events .calendar-row:nth-of-type(n+5) {
        border-bottom: none; }
      .body-splash .upcoming-events .calendar-row:nth-of-type(n+6) {
        display: none; }
      .body-splash .upcoming-events .calendar-row .when {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center; }
        .body-splash .upcoming-events .calendar-row .when .date {
          width: 4rem;
          display: inline-block;
          text-align: center; }
          .body-splash .upcoming-events .calendar-row .when .date .ddd {
            display: block;
            font-weight: 100; }
          .body-splash .upcoming-events .calendar-row .when .date .mm {
            font-size: 1.66rem;
            display: inline-block; }
            .body-splash .upcoming-events .calendar-row .when .date .mm::after {
              content: '/';
              font-size: inherit;
              display: inline; }
          .body-splash .upcoming-events .calendar-row .when .date .dd {
            font-size: 1.66rem;
            display: inline-block; }
        .body-splash .upcoming-events .calendar-row .when .time {
          width: 4.5rem;
          display: inline-block;
          text-align: center;
          line-height: 1rem; }
          .body-splash .upcoming-events .calendar-row .when .time .start {
            display: block; }
            .body-splash .upcoming-events .calendar-row .when .time .start::after {
              content: ' to ';
              white-space: pre;
              display: block;
              font-size: 1rem;
              margin-top: 0.25rem; }
          .body-splash .upcoming-events .calendar-row .when .time .end {
            display: block; }
          .body-splash .upcoming-events .calendar-row .when .time .hr {
            font-size: 1.66rem; }
            .body-splash .upcoming-events .calendar-row .when .time .hr::after {
              content: ':';
              font-size: 1rem;
              display: inline; }
      .body-splash .upcoming-events .calendar-row .details .what {
        display: block; }
        .body-splash .upcoming-events .calendar-row .details .what .description {
          font-size: 1.5rem; }
      .body-splash .upcoming-events .calendar-row .details .where {
        display: block; }

.main-body {
  margin: 0;
  padding: 5px 15px;
  color: #58006c;
  /*border-top-right-radius: 300px 120px;*/
  /* accommodates the right-sight swoop below*/
  /* right-side swoop */
  /*
  &::after {
  	content: ' ';
  	display: block;
  	position: absolute;
  	right: 0;
  	top: 0;
  	background-image: linear-gradient(to bottom, $purple-01 0px, lighten($red-green-05, 12%) 120px);
  	width: 100%;
  	height: 100%;
  	z-index: -100;
  }
  */ }

/*# sourceMappingURL=style.css.map */
